.hero-blog-container .hero-blog-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-blog {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-blog h1,
.hero-blog h2,
.hero-blog h3,
.hero-blog h4,
.hero-blog h5,
.hero-blog h6,
.hero-blog p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-blog.no-image * {
  color: var(--text-color);
}

.hero-blog picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-blog img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-blog {
    padding: 40px 32px;
  }
}