.hero-fashion-container .hero-fashion-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-fashion {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-fashion h1,
.hero-fashion h2,
.hero-fashion h3,
.hero-fashion h4,
.hero-fashion h5,
.hero-fashion h6,
.hero-fashion p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-fashion.no-image * {
  color: var(--text-color);
}

.hero-fashion picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-fashion img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-fashion {
    padding: 40px 32px;
  }
}