.hero-light-container .hero-light-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-light {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-light h1,
.hero-light h2,
.hero-light h3,
.hero-light h4,
.hero-light h5,
.hero-light h6,
.hero-light p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-light.no-image * {
  color: var(--text-color);
}

.hero-light picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-light img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-light {
    padding: 40px 32px;
  }
}